/**********************************************************************
**********************GENERAL CLASSES**********************************
**********************************************************************/
body{
    font-family: Lato,sans-serif;
    line-height: 1.8;
    margin: 0;
/*    font-size: 16px;*/
}
a{
    text-decoration: none;
    color: #333;
}

::selection{
    background: rgba(0 ,0 ,0 ,0.5);
    color: #fff;
}

div{
    display: block;
}

/**********************************************************************
***********************HELPER CLASSES**********************************
**********************************************************************/
.pull-left{
    float: left;
}
.pull-right{
    float: right;
}
.container{
    width: 960px;
    margin: 0 auto;
}
.row{
    margin-left: -15px;
}
.clearfix:after,
.row:after{
    content: '';
    display: block;
    clear: both;
}
.col-12{
    width: 100%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.col-11{
    width: 91.67%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.col-8{
    width: 66.67%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.col-6{
    width: 50%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.col-4{
    width: 33.3%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.col-3{
    width: 25%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.col-1{
    width: 8.33%;
    float: left;
    padding: 15px;
    box-sizing: border-box;
}
.row.no-top-bottom-padding [class*=col-]{
    padding-bottom: 0;
    padding-top: 0;
}
[class*=col-].no-top-bottom-padding{
    padding-bottom: 0;
    padding-top: 0;
}
.text-center{
    text-align: center;
}
.text-justify{
    text-align: justify;
}
.text-left{
    text-align: left;
}    
.p-t-0{
    padding-top: 0!important;
}
.img-responsive{
    width: 100%;
}
.p-500{
    padding-top: 415px!important;
}

.no-top-bottom-padding{
    padding-bottom: 0px;
    padding-top: 0px;
}
.m-0{
    margin: 0;
}
/**********************************************************************
**********************NAVBAR CLASSES**********************************
**********************************************************************/

.navbar{
    width: 100%;
    height:45px;
    line-height: 45px;
}
.navbar-white{
    background: #fff;
    color: #333;
    display: none;
    top:-50px;
    transition: top 0.3s;
}
.navbar-trans{
    background: #fff;
    color: #333;
}
.navbar-fixed{
    position: sticky;
    top: 0;
    left: 0;
    z-index: 9999;
}    
.menu{
    padding: 0;
    margin: 0;
    list-style: none;
    height: 100%;
}
.menu .menu-item{
    text-transform: uppercase;
    display: inline-block;
}

.menu .menu-item a{
    display: inline-block;
    padding: 0px 15px;
    color: #555;
    height: 100;
}

.menu .menu-item a:hover{
    background: #ccc;
    color: #111;
}

.search-box{
    display: inline-block;
    padding: 0 20px;
}
.search-box:hover{
    background: red;
    color: #fff;
    cursor: pointer;
    
}
@keyframes nav{
    from{
        top: -45px;
        opacity: 0;
    }
    to{
        top: 0px;
        opacity: 1;
    }
}
.nav-animate{
    position:sticky;
    animation: nav .5s;
}


/*****IMAGE-SECTION***************/
#home{
    position: relative;
}
.home-img{
    position:absolute;
    height: 400px;
    width: 100%;
    top: -45px;
    left: 0;  
}
.img-showcase{
    background: url('images/top.jpg') no-repeat center center;
    background-size: cover;
    position:absolute;
    width: 100%;
    height: 400px;
}
.home-heading{
    width: 100%;
    height: 100%;
}
.home-heading>h2{
    position: absolute;
    width: 26rem;
    height: 3.5rem;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 10px;
    background: #333;
    color: #fff;
    line-height: 55px;
    left: 35%;
    top:50%;
}

/**********************************************************************
**********************SECTION CLASSES**********************************
**********************************************************************/
.section{
    padding: 75px 0 0;
}
.section-white{
    background: #fff;
    color: #666;
}
.section-black{
    background: #333;
    color: #fff;
}
.section .section-heading{
    color: #444;
}
.section .section-heading h2{
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 400;
    margin: 0 0 20px;
}
.section .section-heading p{
    font-style: italic;
    font-size: 15px;
    margin: 0;
}
/**********************************************************************
**********************IMAGE CLASSES************************************
**********************************************************************/
.image-heading h2{
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 0;
    margin-bottom: 40px;
}
.woman{
    width: 419px;
    height: 250px;
    border: solid 1px #eee;
    box-sizing: border-box;
    border-radius: 5px;
    opacity: 0.5;
    display: block;
}
.woman:hover{
    opacity: 1;
}
/**********************************************************************
**********************SKILLS CLASSES************************************
**********************************************************************/
.skills .skills-heading h2{
    font-size: 16px;
}
.grades .grades-heading p{
    text-transform: capitalize;
    letter-spacing: 10px;
    font-weight: 400;
    margin-bottom: 20px;
}
.box{
    height: 35px;
    width: 100%;
    background: #eee;
}
.photography-skill{
    height: 35px;
    width: 90%;
    background: #666;
    color: #fff;
}
.web-skill{
    height: 35px;
    width: 85%;
    background: #666;
    color: #fff;
}
.image-skill{
    height: 35px;
    width: 75%;
    background: #666;
    color: #fff;
}
.random{
/*    width: 100%;*/
    height: 130px;
    background: #555;
    color: #fff;
}
.random-box{
    width: 25%;
}
.random h3{
    font-size: 24px;
    padding-bottom: 5px;
    box-sizing: border-box;
    margin: 0px;
}
.random p{
    text-transform: capitalize;
    font-size: 15px;
    margin-top: 0px;
}
.img-2{
    height: 400px;
    width: 100%;
    position: relative;
}
.img2-heading{
    width: 100%;
    position: absolute;
    color: #fff;
    font-weight: 300;
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 10px;
/*    bottom: 10px;*/
/*    left: 400px;*/
}
.img-2-position{
    top: 1960px;
}
/**********************************************************************
**********************PORTFOLIO CLASSES************************************
**********************************************************************/
.images-for-portfolio-section{
    width: 215px;
    height: 160px;
    padding: 7.5px;
}
.images-for-portfolio-section:hover{
    opacity: 0.7;
    cursor: pointer;
}
.button{
/*    width: 140px;*/
    margin-top: 65px;
    margin-bottom: 80px;
}
.img-portfolio{
    background: url('images/parallax2.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.button .btn{
    text-transform: uppercase;
    width: 120px;
    height: 55px;
    background: #eee;
    color: #333;
    padding:20px 22.5px;
    margin: 0 auto;
}
.button .btn:hover{
    background: #ccc;
    cursor: pointer;
}
.img-camera{
/*    position: fixed;*/
    background: url('images/parallax3.jpg') no-repeat center center;
    background-size: cover;
    width: 100%;
    height: 400px;
}
.img-3-position{
    top: 3210px;
}
.img-camera-position{
    position: relative;
    bottom: 14rem;
    color: #fff;
/*    font-weight: 400;*/
    font-size: 35px;
    text-transform: uppercase;
    letter-spacing: 10px;
    
}


/*
.map{
    border: solid 1px #333;
    width: 285px;
    height: 160px;
    border-radius: 10px;
    box-sizing: border-box;
}
*/
.img-map{
    border: solid 1px #eee;
    height: 160px;
    width: 285px;
    border-radius: 10px;
    box-sizing: border-box;
}
.form-control{
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: solid 1px #ccc;
    margin-bottom: 8px;
}

.contact-details p{
    font-size: 18px;
    padding-top: 0px!important;
}
.contact-details i{
    font-size: 24px;
    line-height: 24px;
    color: #999;
}
.contact-details i:hover{
    color: #555;
}
.coffee{
    color: #666;
    padding-left: 0;
    font-size: 15px;
}
.form{
    border: solid 1px #ccc;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin: 5px;
}
.btn-black{
    width: 160px;
    height: 40px;
    color: #fff;
    background: #333;
    padding: 10px;
    box-sizing: border-box;
    color: #fff;
    margin-left: 10px;
    text-transform: uppercase;
    line-height:0;
    
}
.btn-black:hover{
    background: #ddd;
    color: #333;
    cursor: pointer;
}
.btn-grey{
    position: absolute;
    width: 8em;
    height: 45px;
    background: #ddd;
    color: #333;
    text-transform: capitalize;
    line-height: 45px;
    left: 45.5%;
/*    margin-bottom: 100px;*/
/*    transition-delay: 2s;*/
}
.btn-grey:hover{
    background: #aaa;
    cursor: pointer;
}
.icons{
    height: 255px;
    margin-top: 150px;
    background: #666;
}
.icons:hover{
    background: #444;
}
.social-icons{
    margin-top: 20px;
    font-size: 24px;
}
.social-icons:hover{
    color: #999;
}